  <% @books_rank.each do |book| %>
    <div class="list row">
        <% if book.image_url %>
          <%= link_to (image_tag(book.image_url)), book.item_url, class: 'col-md-3 book_search_image' %>
        <%end%>
        <div class="book_infomation col-md-9">
          <div class="book_title">
            <%= book.title %>
          </div>
          <div class="book_author">
            <%= book.author %>
          </div>
          
        
        </div>
        
        
        
    </div>
  <% end %>
