<div class="book_container row">
  <% all_books.each do |book| %>
    <div class='book_item list_item'>
      <figure class='book_image book_item_image'>
        <%= link_to (image_tag(book.image_url)), book_path(book.id) %>
      </figure>
    </div>
  <% end %>
</div>

