<%= render 'show_top_wrapper', user: @user %>

<hr>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="<%= user_path(@user)%>">読書中</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= read_user_path(@user) %>">読了</a>
  </li>
</ul>
<div class="register_books">
 <%= render 'show_book_wrapper', reading_book: @have_read_book %>
</div>