

.navbar {
  width: 100%;
  
  .navbar-brand {
    font-size: 24px;
  }
}

.before-login {
  width: 100%;
  
  .nav-login {
    
  }
  
  .nav-signup {
    
  }
}

.after-login {
  
  
  .nav-logout {
    
  }
}


#footer {
  text-align: center;
  height: 50px;
  padding-bottom: 20px;
}

