<% if @books.present? %>
  <% @books.first(10).each do |book| %>
    <div class="list">
    <% if book.medium_image_url %>
      <%= link_to (image_tag(book.medium_image_url, style: "width: 70px;height: 100px;display: inline-block;")), book.item_url %>
      <%end%>
 
      <%= book.title %>
    </div>
  <% end %>
<% end %>