  <% @books.each do |book| %>
    <div class="list">
        <% if book.image_url %>
          <%= link_to (image_tag(book.image_url, style: "width: 70px;height: 100px;display: inline-block;")), book.item_url %>
        <%end%>
        <%= book.title %>
        <%= book.author %>
        <% form_with(model: book, method: :post) do |f| %>
    </div>
  <% end %>
