
<% if current_user.registered_book?(@book) && @status_book.status == 1 %>
  <span class='badge badge-info'>読書中</span>
<% elsif current_user.registered_book?(@book) && @status_book.status == 2 %>
  <span class='badge badge-success'>読了</span>
<% else %>
  <span class='badge badge-secondary'>未登録</span>
<% end %>