<div class="search ">
  <div class="title">
    <h1>Rakubooks</h1>
  </div>
    
    <div class="search-box">
      <%= form_with(url: new_book_path, method: :get, local: true) do |f|%>
        <div class='form-group'>
          <%= f.text_field :title, class: 'form' %>
          <%= f.submit "\uf002", class: 'form-btn btn btn-primary fa' %>
        </div>
      <% end %>
    </div>
 
  <div class='search_title'>
      <h2>検索結果</h2>
  </div>
  <hr></hr>
  <div class="search_result">
    <div id='book_list'>
       <%= render partial: 'book_list' %>
    </div>
  </div>
  
</div>