
<div class='container'>
  <div class='book_page'>
    <div class='book_summary'>
      <div class="book_container">
        <%= @book.title %>
      </div>
      <div class="buttons"></div>
    </div>
  </div>
</div>