<div class='book-container row'>
  <% books.each do |book| %>
      <div class='col-sm-6 col-md-4 col-lg-3 col-6 user-box'>
        <div class='book-info-img'>
          <%= link_to (image_tag(book.image_url)), book_path(book.id) %>
        </div>
        <h5 class='pt-4 top-books-title'><%= book.title %></h5>
      </div>
  <% end %>
</div>