<%= render 'book_container', books: @books_rank%>
<div class='more_users row'>
  <div class='offset-sm-10 col-sm-2'>
    <%= link_to "もっとみる　\uf101", rankings_path, class: 'fas search-more' %>
  </div>
</div>