

<div class='top-wrapper col'>
  <div id="header-title-box">&nbsp;Design<br>&nbsp;Your<br>&nbsp;Bookshelf</div>
  <div id='header-login-box'>
    <%= link_to new_user_session_path, class: 'btn', id: 'header-login-btn' do %>
      <span>Login</span>
    <% end %>
  </div>
</div>