

<div class='top-wrapper row'>
  <div id='top-wrapper-image' class='col-lg-6 col-sm-12'>
    <%= image_tag 'bookshelf.png' %>
  </div>
  <div class="col-lg-6 col-sm-12">
    <% unless user_signed_in? %>
      <%= link_to 'ログインする', new_user_session_path, class: 'btn btn-primary login-btn'%>
    <% end %>
  </div>
</div>