<%= render 'top' %>


<div class='new_user_container'>
  <h4><i class="fas fa-users"></i>  新規登録ユーザー</h4>
  <hr>
  <%= render 'user', users: @users %>
  <hr>
</div>


<div class="new_register_book">
  <h4><i class="fas fa-book"></i>  新規登録本</h4>
  <hr>
    <%= render 'book', books: @books %>
  <hr>
</div>