
.log-form {
  margin: 4rem  auto;
  width: 40rem;
  height: 30rem;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid;
  
  
  
  & h2 {
    // background-color: red;
    padding-top: 5px;
    text-align: center;
    border-radius: 10px;
    
  }
  
  .form-container {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    height: 250px;
    
    .field {
      margin-bottom: 25px;
      
      .fa {
        opacity: .8;
      }
    }
  }
  
  .shared-links {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .log-form {
    width: 100%;
    
  }
}