

.book_container {
  width: 100%;
  display: flex;
}

.book_item {
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.4);
  margin: 20px 30px;
  
  width: 200px;
  height: 280px;
  
  
  .book_image {
    
    & img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
    }
  }
}