
.book_content {
  padding-top: 20px;
  .book_boxs {
    
    .book_container_index {
      width: 90%;
      margin: 0 auto;
      .book_box {
        margin-bottom: 20px;
        
        .book_info_img {
          box-shadow: 2px 2px 4px rgba(0,0,0,.4);
          & img {
            
            
          }
        }
        
        & h5 {
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }
}